@page "/weather"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using System.Text.Json;
@using BlazorLabbv3;

<PageTitle>Users</PageTitle>

<h1>Användare</h1>

<p>Existerande användare</p>

@if (Users == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<button @onclick="ShowMoreOrLessUsers">Visa Alla</button>
	<input type="text" placeholder="Sök" @bind="searchQuery"/>
	<table class="table">
		<thead>
			<tr>
				<th><button @onclick="SortById">@(_isSortedById ? "▲" : "▼")</button></th>
				<th><button @onclick="SortByName">@(_isSortedByName ? "▲" : "▼")</button></th>
				<th><button @onclick="SortByUsername">@(_isSortedByUsername? "▲" : "▼")</button></th>
			</tr>
		</thead>
		<thead>
			<tr>

				<th>Id</th>
				<th>Namn</th>
				<th>Användarnamn</th>
				<th>Email</th>
				<th>Telefonnummer</th>
				<th>Hemsida</th>
				<th>Gatuadress</th>
				<th>Lägenhet</th>
				<th>Stad</th>
				<th>Postnummer</th>
				<th>Latitud</th>
				<th>Longitud</th>
				<th>Företagsnamn</th>
				<th>Slagord</th>
				<th>bs</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var user in FilteredUsers)
			{
				<tr>
					<td>@user.id</td>
					<td>@user.name</td>
					<td>@user.username</td>
					<td>@user.email</td>
					<td>@user.phone</td>
					<td>@user.website</td>
					<td>@user.address?.street</td>
					<td>@user.address?.suite</td>
					<td>@user.address?.city</td>
					<td>@user.address?.zipcode</td>
					<td>@user.address?.geo?.lat</td>
					<td>@user.address?.geo?.lng</td>
					<td>@user.company?.name</td>
					<td>@user.company?.catchPhrase</td>
					<td>@user.company?.bs</td>

				</tr>
			}
		</tbody>
	</table>
}


